 
<div class="main-wrapper">
  <!-- PAGE TITLE -->

  <section class="pageTitle" style="background-image:url(/img/pages/page-title-bg8.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="titleTable">
            <div class="titleTableInner">
              <div class="pageTitleInfo">
                <h1><%=@trip.name%></h1><br>
                <% if @trip.status == "pending" %>
                <div class="count-down clearfix timersize">
                  <div id="simple_timer"></div>
                </div>
                <% end %>
                <div class="under-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>





  <!-- PAGE CONTENT -->
  <% if @trip.images.length > 0 %>
  <section class="mainContentSection singlePackage">
    <div class="container">

      <div class="row galleryCarousel">
        <div class="col-xs-12">
          <div id="package-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

            <ol class="carousel-indicators">
              <% counter = 0 %>
              <%@trip.images.each do |image| %>
              <li  data-target="#package-carousel" data-slide-to="<%=counter%>" class="active"><img class="thumb" src="<%=image.url%>"></li>
              <% counter = counter + 1 %>
              <% end %>
            </ol>

            <div class="carousel-inner max-carousel">

              <div class="item active max-carousel">
                <img alt="slide" class="max-carousel carousel_width" src="<%=@trip.images.first.url%>">
              </div>
              <% counter = 0 %>
              <% @trip.images.each do |image| %>
              <% if counter != 0 %>
              <div class="item max-carousel">
                <img alt="Slide" src="<%=image.url%>" class="max-carousel">
              </div>
              <% end %>
              <% counter = counter + 1 %>
              <% end %>

            </div>
            <a class="left carousel-control" href="/#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
            <a class="right carousel-control" href="/#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
          </div>
        </div>
      </div>
    </div>
    <% elsif @trip.images.length == 1 %>
    <div class="centered tripdummyimage">
      <img src="<%=@trip.images.first%>">
      <% elsif @trip.images.length < 1 %>
      <div class="centered tripdummyimage">
        <img src="/img/earth.png">
      </div>
    </section>
  <% end %>


      <div class="row">
        <div class="col-xs-12">
          <div role="tabpanel" class="countryTabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Info</a>
              </li>
              <% if @usertrips.exclude?(current_user.id) %>
              <li role="presentation">
                <a href="#journal" aria-controls="journal" role="tab" data-toggle="tab">Journal</a>
              </li>
              <% end %> 
              <li role="presentation">
                <a href="#maptab" aria-controls="maptab" role="tab" data-toggle="tab">map</a>
              </li>
              <li role="presentation">
                <a href="#all-pictures" aria-controls="all-pictures" role="tab" data-toggle="tab" onclick="showPhotos()">pictures</a>
              </li>
              <li role="presentation">
                <a href="#stops" aria-controls="stops" role="tab" data-toggle="tab" onclick="showPhotos()">stops</a>
              </li>
              <% @usertrips.each do |usertrip| %>
              <% if usertrip == current_user.id %>
              <li role="presentation" class="dropdown col-md-1 col-lg-1 col-sm-1">
                <button class="btn buttonTransparent dropdown-toggle editbutton" type="button" id="menu1" data-toggle="dropdown">Edit tools
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#add-stop" aria-controls="add-stop" role="tab" data-toggle="tab">Add a Stop</a></li>
                  <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#journal" aria-controls="journal" role="tab" data-toggle="tab"> Write in Journal </a>
                  </li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#add-travelers" aria-controls="add-travelers" role="tab" data-toggle="tab">Add Tr@\/e|ers</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#edit-trip" aria-controls="edit-trip" role="tab" data-toggle="tab">Edit Trip</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"  aria-controls="tour-guide" role="tab" data-toggle="tab"> 
                  <% if @trip.archived == false || @trip.archived == nil %>
                  <%= link_to 'Archive Trip', "/trips/#{@trip.id}/archive", role: "tab", method: :patch %></a>
                  <% end %>
                  <% if @trip.archived == true %>
                  <%= link_to 'UnArchive Trip', "/trips/#{@trip.id}/unarchive", role: "tab", method: :patch %></a>
                  <% end %>
                </ul>
              </li>
              <% end %>
              <% end %>
            </ul> <!-- tablist -->
          </div> <!--  countryTabs -->
              
            

            <!-- Tab panes -->
            <div class="tab-content">

              <div role="tabpanel" class="tab-pane active" id="description">
                <div class="row">
                  <div class="col-sm-8 col-xs-12">
                    <div class="commonInfo">
                      <div class="container">
                      <h2><%=@trip.tagline%> </h2>
                      <p> Users on this trip: <% @trip.users.each_with_index do |user, index|%>
                        <%= link_to "#{user.first_name} #{user.last_name}", "/users/#{user.id}" %><%= "," unless index == @trip.users.length - 1 %>  
                        <% end %></p> 
                        <p> <%=@trip.description%> </p>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>


<!-- ############################################################################# -->

                <div role="tabpanel" class="tab-pane" id="maptab">
                  <div class="row">
                    <div class="col-sm-8 col-xs-12">
                      <div class="commonInfo">
                        <% stopcoordinates = [] %>
                        <% @trip.stops.each do |stop|%>
                        <% if stop.latitude %>
                        <% stopcoordinates << stop %>
                        <% end %>
                        <% end %>
                        <% if stopcoordinates.length > 0 %>
                      <div class="mapdiv">
                         <div id="map">  
                           <div class="row">
                          </div>
                        </div>
                      </div>
                      <% else %>
                      <div class="container"> <h4> Sorry! This trip doesn't have any stops with valid locations. </h4> </div>
                      <% end %>   
                    </div>
                  </div>
                </div>
              </div>

<!-- ############################################################################# -->

                <div role="tabpanel" class="tab-pane" id="add-stop">
                  <div class="row">
                    <div class="col-sm-8 col-xs-12">
                      <div class="commonInfo">           
                        <div class="bookingForm">
                          <div class="row">
                            <div class="form-group col-sm-6 col-xs-12">
                              <%= form_tag "/trips/#{params[:id]}/stops", method: :post do  %>
                              <div>
                                <%= label_tag :name %>
                                <%= text_field_tag :name, nil, class: "form-control"  %>
                              </div>
                              <div>
                                <%= label_tag :address %>
                                <%= text_field_tag :address, nil, class: "form-control"  %>
                              </div>
                              <div>
                                <%= label_tag :description %>
                                <%= text_field_tag :description, nil, class: "form-control"  %>
                              </div>
                              <div>
                                <%= label_tag :tagline %>
                                <%= text_field_tag :tagline, nil, class: "form-control"  %>
                              </div>
                              <div>
                                <%= label_tag :Stop_number %>
                                <%= text_field_tag :order, nil, class: "form-control"  %>
                              </div>
                              <div class="bookingDrop">
                                  <%= date_select :start_date, :start_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}, value: @trip.start_date %>
                                </div>
                                <%= label_tag "End Date" %>
                                <div class="bookingDrop">
                                  <%= date_select :start_date, :start_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'} %>
                                </div>
                               <%= submit_tag "Submit", class: "btn buttonTransparent editbutton" %> 
                              <% end %> 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                <div role="tabpanel" class="tab-pane" id="stops">
                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-8 col-xs-12">
                      <div class="commonInfo">
                        <div class="row">
                          <% @stops.each do |stop| %>
                          <div class="col-sm-4 col-xs-12 col-md-3 col-lg-3">
                            <div class="relatedItem">
                              <% if stop.images.length > 0 %>
                              <%= image_tag stop.images.first.url, :class => "image-responsive" %>
                              <% else %>
                              <img src="/img/earth.png" alt="related image">
                              <% end %>
                              <div class="maskingInfo">
                                <h4><%=stop.name%></h4>
                                <p><%=stop.tagline%></p>
                                <a href="/stops/<%=stop.id%>" class="btn buttonTransparent">see more!</a>
                              </div>
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div role="tabpanel" class="tab-pane" id="add-travelers">
                  <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-8 col-xs-12">
                      <div class="commonInfo">
                       <div class="bookingForm">
                       <%= form_tag "/trips/#{@trip.id}/addtravelers", method: :post do  %>
                         <!-- <form action="/trips" method="POST" role="form" class="form"> -->
                         <div class="row">
                          <div class="form-group col-sm-6 col-xs-12">

                            <div>
                              <%= label_tag :"Attendee Email" %>
                              <%= text_field_tag :attendee1_email, nil, class: "form-control"  %>
                            </div>
                            <div>
                              <%= label_tag :"Attendee Email" %>
                              <%= text_field_tag :attendee2_email, nil, class: "form-control"  %>
                            </div>
                            <div>
                              <%= label_tag :"Attendee Email" %>
                              <%= text_field_tag :attendee3_email, nil, class: "form-control"  %>
                            </div>
                            <div>
                              <%= label_tag :"Attendee Email" %>
                              <%= text_field_tag :attendee4_email, nil, class: "form-control"  %>
                            </div>
                            <div>
                              <%= label_tag "Attendee Email" %>
                              <%= text_field_tag :attendee5_email, nil, class: "form-control"  %>
                            </div>
                          </div>
                          <%= submit_tag "Submit", class: "btn buttonTransparent editbutton"%>
                          <% end %>
                        </form>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>


                <div role="tabpanel" class="tab-pane" id="journal">
                  <div class="row">
                    <div class="col-sm-8 col-xs-12">
                      <div class="commonInfo">
                        <div class="container">
                          <div class="commentsArea">
                           
                              <% if @usertrips.include?(current_user.id) %>
                              <h1>Make a journal entry!</h1>
                              <div>
                                <%= form_tag "/trips/#{@trip.id}/journal", method: :post do %>
                                <div class="form-group comments">
                                  <%= text_area_tag :entry, nil, placeholder: "How's your trip going??", class: "form-control" %>
                                </div>
                                <%= hidden_field_tag :user_id, current_user.id %>
                                <%= hidden_field_tag :blogable_type, "Trip" %>
                                <%= hidden_field_tag :blogable_id, @trip.id %>
                                <%= submit_tag  "Submit", class: "btn buttonTransparent editbutton" %> 
                                <% end %>
                              </div>          
                              <br>
                              <br>
                              <% elsif @usertrips.exclude?(current_user.id) && @blogentries.length == 0 %>
                              <h4> Sorry! No Journal entries have been made yet. </h4>
                              <% end %>
                           

                            <% @blogentries.each do |blog| %>
                            <%#if this_comment.commentable_type == "Trip" %>
                            <div class="media">
                              <a class="media-left" href="#">
                                <img class="media-object comment_pic" src="/img/earth.png" alt="Image"></a>
                                <div class="media-body blog">
                                  <h4 class="media-heading">
                                    <%= blog.user.first_name %> <%= blog.user.last_name %></h4>
                                    <h4><span><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</span></h4>
                                    <p> <%= blog.entry %> </p>
                                    <button class="btn btn-link" type="button">Reply</button>
                                    <% if current_user.id == blog.user.id %>
                                    <%= link_to 'Delete', "/journals/#{blog.id}", method: :get %>
                                    <% end %>
                                    <br>
                                    <br>
                                  </div>
                                  <br>
                                  <%# end %>
                                </div>
                                <% end %>



                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


        <div role="tabpanel" class="tab-pane" id="all-pictures">
          <!-- WHITE SECTION FILTER-->
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="filter-container isotopeFilters">
                  <ul class="list-inline filter">
                    <li class="active" style="display: none;"><a id="allpicbutton" href="#" data-filter="*">all pics</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- container -->
          <div class="container">
            <div class="row isotopeContainer" id="container">
              <% @trip.images.each do |image| %>
              <div class="col-sm-3 isotopeSelector">
                <article class="">
                  <figure>
                    <img src="<%=image.url%>" alt="">
                    <h4><%=%></h4>
                    <div class="overlay-background">
                      <div class="inner"></div>
                    </div>
                    <div class="overlay">
                      <a class="fancybox-pop" rel="portfolio-1" href="<%=image.url%>">
                        <span class="overlayInfo overflow_hidden">
                          <p><%=image.description%></p>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i>27 jan, 2016</p>
                        </span>
                      </a>
                    </div> <!-- overlay -->
                  </figure>
                </article>
              </div> <!-- isotope selector -->
              <%end%>   
            </div> <!-- isoptope container -->
          </div> <!-- container -->
        </div> <!-- tab panel -->




                    <div role="tabpanel" class="tab-pane" id="edit-trip">
                      <div class="row">
                        <div class="col-sm-8 col-xs-12">
                          <div class="commonInfo">
                            <div class="bookingForm">
                             <%= form_tag "/trips/#{@trip.id}", method: :patch do  %>
                             <!-- <form action="/trips" method="POST" role="form" class="form"> -->
                             <div class="row">
                              <div class="form-group col-sm-6 col-xs-12">
                                <%= label_tag :name %>
                                <%= text_field_tag :name, nil, class: "form-control", value: @trip.name %>
                                <div>
                                  <%= label_tag :description %>
                                  <%= text_field_tag :description, nil, class: "form-control", value: @trip.description  %>
                                </div>
                                <div>
                                  <%= label_tag :tagline %>
                                  <%= text_field_tag :tagline, nil, class: "form-control", value: @trip.tagline  %>
                                </div>
                                <%= label_tag "Start Date" %>
                                <div class="bookingDrop">
                                  <%= date_select :start_date, :start_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}, value: @trip.start_date %>
                                </div>
                                <%= label_tag "End Date" %>
                                <div class="bookingDrop">
                                  <%= date_select :start_date, :start_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'} %>
                                </div>
                                </div>

                              <%= submit_tag "Submit", class: "btn buttonTransparent editbutton" %>
                            </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div> <!-- main wrapper -->



<script src="https://maps.googleapis.com/maps/api/js?key=<%= "#{ENV['MAPS_API']}" %>&callback=initMap">
</script>
<script type="text/javascript">
  var stops = [
  <% counter = 1 %>
  <% stopcoordinates.each do |stop| %>
  <% if stop.latitude !=nil %>
  ["<a href='/stops/<%=stop.id%>'> <%=stop.name%> </a>" , <%=stop.latitude%>, <%=stop.longitude%>, <%=counter%>],
  <% counter = counter + 1 %>
  <% end %>
  <% end %>
  ];

  console.log(stops[0][1], stops[0][2]);

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: new google.maps.LatLng(stops[0][1], stops[0][2]),
              // stops[i][1], stops[i][2]
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < stops.length; i++) {  
    console.log(stops[i][1], stops[i][2]);
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(stops[i][1], stops[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
      return function() {
        infowindow.setContent(stops[i][0]);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }


  $('a[href="#maptab"]').on('shown.bs.tab', function(e)
    {
        var newmapcenter = map.getCenter(); 
        google.maps.event.trigger(map, 'resize');
        map.setCenter(newmapcenter);
    });

</script>

<script type="text/javascript"> 
    function showPhotos() {
      console.log("clicked");
      setTimeout(
        function() 
        {
          $( "#allpicbutton" ).click()          
        }, 1);
    }
  </script>
