
  <div class="main-wrapper">
    <!-- PAGE TITLE -->

    <section class="pageTitle" style="background-image:url(/img/pages/page-title-bg8.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1><%=@trip.name%><br>
                  <% if @trip.status == "pending" %>
                    <div class="count-down clearfix timersize">
                      <div id="simple_timer"></div>
                    </div>
                     <% end %>
                  <div class="under-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- PAGE CONTENT -->
    <section class="mainContentSection singlePackage">
      <div class="container">
        <div class="row galleryCarousel">
          <div class="col-xs-12">
            <div id="package-carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li  data-target="#package-carousel" data-slide-to="0" class="active"><img class="thumb" src="/img/gallery/gallery-single-slider-01.jpg"></li>
                <li data-target="#package-carousel" data-slide-to="1" class=""><img src="/img/gallery/gallery-single-thumb-02.jpg"></li>
                <li data-target="#package-carousel" data-slide-to="2" class=""><img src="/img/gallery/gallery-single-thumb-03.jpg"></li>
              </ol>
              <div class="carousel-inner max-carousel">
                <div class="item active max-carousel">
                  <img alt="First slide" class="max-carousel" src="/img/gallery/gallery-single-slider-01.jpg">
                </div>
                <div class="item max-carousel">
                  <img alt="Second slide" src="/img/gallery/gallery-single-slider-02.jpg">
                </div>
                <div class="item vertical_center">
                  <img alt="Third slide" src="/img/gallery/gallery-single-slider-03.jpg">
                </div>
              </div>
              <a class="left carousel-control" href="/#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
              <a class="right carousel-control" href="/#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
          </div>
        </div>
      </div>




          
             <p> Users on this trip: <% @trip.users.each do |user|%>
          <%= link_to "#{user.first_name} #{user.last_name}, ", "/users/#{user.id}" %>  
          <% end %>
          </div>
          </p> 
          <div class="col-xs-12">

            <div class="generalInfo">
              <h2 class="editButtonText"><%= @trip.name %>
              <a href="http://www.google.com"> <img class="editButton" src="/img/icons/edit.ico"> </a></h2>
              <br>
              <p><%= @trip.description %></p>
            </div>
          </div>
          <% if current_user %>
          <div class="col-xs-12">
            <div class="buttonArea galleryBtnArea">
              <ul class="list-inline">
                <li><a href="/trips/<%= "#{@trip.id}" %>/stop/new" class="btn buttonTransparent">Add a Stop!</a></li>


                <li><%= link_to 'Archive', "/trips/#{@trip.id}", method: :patch %></li>
              </ul>
            </div>
          </div>
          <%end%>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="relatedProduct">
              <h2>Stops on this trip:</h2>
              <div class="row">

              <% @stops.each do |stop| %>

                <div class="col-sm-4 col-xs-12">
                  <div class="relatedItem">
                  <% if stop.images.length > 0 %>
                  <%= image_tag stop.images.first.url %>
                  <% else %>
                    <img src="/img/earth.png" alt="related image">
                    <% end %>
                    <div class="maskingInfo">
                      <h4><%=stop.name%></h4>
                      <p><%=stop.tagline%></p>
                      <a href="/stops/<%=stop.id%>" class="btn buttonTransparent">see more!</a>
                    </div>
                  </div>
                </div>
              <% end %>


              </div>
            </div>
          </div>
        </div>


    <div class="commentsArea">
                <br>
                <br>
                <br>
                <br>
                <br>

        <% @comments.each do |this_comment| %>
          <%#if this_comment.commentable_type == "Trip" %>
                <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object comment_pic" src="/img/earth.png" alt="Image">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">
                    <%= this_comment.user.first_name %> <%= this_comment.user.last_name %></h4>
                    <h4><span><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</span></h4>
                    <p> <%= this_comment.comment %> </p>

                    <button class="btn btn-link" type="button">Reply</button>
                    <% if current_user.id == this_comment.user.id %>
                    <%= link_to 'Delete', "/comments/#{this_comment.id}", method: :get %>
                    <% end %>
                    <br>
                    <br>
                </div>
          <%# end %>
        <% end %>

                    <div class="media">
                      <a class="media-left" href="#">
                        <img class="media-object leave_comment_pic" src="/img/earth.png" alt="Image">
                      </a>
                      
              <% if current_user %>   
                <h1>Leave a comment!</h1>
                <div>
                  <%= form_tag "/trips/#{@trip.id}/comments", method: :post do %>
                  <%= label_tag :comment %>
                  <%= text_field_tag :comment %>
                                      <div class="col-xs-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                      </div>
                    </div>
                  <%= hidden_field_tag :user_id, current_user.id %>
                  <%= hidden_field_tag :commentable_type, "Trip" %>
                  <%= hidden_field_tag :commentable_id, @trip.id %>
                  <button class="btn buttonCustomPrimary"> <%= submit_tag  "Submit" %> </button>
                  <% end %>
                </div>          
                  <form>
                  <div class="row">
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Name">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn buttonCustomPrimary">send now</button>
                </form>
              <% end %>
              <% if !current_user %>
              <h3> Sign in to leave a comment! <h3>
              <a target="_blank" href="/users/auth/facebook" class="FBLI">    Sign in with Facebook</a>
              <%end%>
             
    </div>

          </div>
    </section>

    
  </div>

