<h1>Create a Stop!</h1>
<%= form_tag "/trips/#{params[:id]}/stops", method: :post do  %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :address %>
    <%= text_field_tag :address %>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>
  <div>
    <%= label_tag :Stop_number %>
    <%= text_field_tag :order %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>