
<div class="main-wrapper">


  <!-- PAGE TITLE -->
  <section class="pageTitle" style="background-image:url(/img/pages/page-title-bg8.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="titleTable">
            <div class="titleTableInner">
              <div class="pageTitleInfo">
                <h1><%=@trip.name%>: <%= @stop.name %></h1>
                <div class="under-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>

  <!-- PAGE CONTENT -->
  <section class="mainContentSection singlePackage">
    <div class="container">

      <div class="row "> <!-- carousel -->
        <% if @stop.images.length > 0 %>
        <div class="row galleryCarousel">
          <div class="col-sm-8 col-xs-12">
            <div id="package-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
              <div class="carousel-inner stops-carousel">
                <div class="item active stops-carousel">
                  <img alt="slide" class="stops-carousel carousel_width" src="<%=@stop.images.first.url%>">
                </div>
                <% counter = 0 %>
                <% @stop.images.each do |image| %>
                <% if counter != 0 %>
                <div class="item stops-carousel">
                  <img alt="Slide" src="<%=image.url%>" class="stops-carousel">
                </div>
                <% end %>
                <% counter = counter + 1 %>
                <% end %>
              </div>
              <a class="left carousel-control" href="/#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
              <a class="right carousel-control" href="/#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
            </div>            
          </div>
          <% else %>
          <div class="col-sm-8 col-xs-12">
            <div class=" center tripdummyimage">
              <img src="/img/earth.png">
            </div>
          </div>
          <% end %>
          <div class="col-sm-4 col-xs-12">
            <aside>
              <div class="weatherInfo">
                <div class="cityWeather ">
                  <% if @stop.latitude %>
                  <div class="mapdiv">
                    <div class="smallmap"> 
                      <div id="map">
                      </div> 
                    </div>
                  </div>
                  <% end %>
                </div> <!-- cityWeather -->
              </div> <!-- weather info -->
            </aside> <!-- weather -->
          </div><!--  weather column -->
        </div> <!-- row galleryCarousel -->
      </div> <!-- row countryTitle -->
        


      <div class="row"> <!-- tabs -->
        <div class="col-xs-12">
          <div role="tabpanel" class="countryTabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a>
              </li>
              <% if @userstops.exclude?(current_user.id) %>
              <li role="presentation">
                <a href="#journal" aria-controls="journal" role="tab" data-toggle="tab">Journal</a>
              </li>
              <% end %> 
              <li role="presentation">
                <a href="#all-pictures" aria-controls="all-pictures" role="tab" data-toggle="tab" onclick="showPhotos()">all pictures</a>
              </li>
              <li role="presentation">
                <a href="#other-stops" aria-controls="other-stops" role="tab" data-toggle="tab">Other stops</a>
              </li>
              <li>
                <a href="/trips/<%=@trip.id%>">Back to Trip</a>
              </li>
              <% @userstops.each do |usertrip| %>
              <% if usertrip == current_user.id %>
              <div role="presentation" class="dropdown col-md-1 col-lg-1 col-sm-1">
                <button class="btn buttonTransparent dropdown-toggle editbutton" type="button" id="menu1" data-toggle="dropdown">Edit tools
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#add-pic" aria-controls="add-pic" role="tab" data-toggle="tab">Add a Picture</a></li>
                  <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#journal" aria-controls="journal" role="tab" data-toggle="tab"> Write in Journal </a>
                  </li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#edit-stop" aria-controls="edit-stop" role="tab" data-toggle="tab">Edit Stop</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1"  aria-controls="tour-guide" role="tab" data-toggle="tab"> 
                  <% if @stop.archived == false || @stop.archived == nil %>
                  <%= link_to 'Archive Stop', "/stops/#{@stop.id}/archive", role: "tab", method: :patch %></a>
                  <% end %>
                  <% if @stop.archived == true %>
                  <%= link_to 'UnArchive Trip', "/stops/#{@stop.id}/unarchive", role: "tab", method: :patch %></a>
                  <% end %>
                </ul>
              <div>
              <% end %>
              <% end %>
              <li class="pull-right">

              </li>
            </ul>
          </div>
        </div>
      </div><!--  row tabs -->



    <!-- Tab panes -->
      <div class="tab-content">
       
        <div role="tabpanel" class="tab-pane active" id="description">
          <div class="row">
          <% if @stop.description.length != 0  %>
            <div class="col-sm-8 col-xs-12 showtab whitediv">
              <div class="commonInfo">
                <h2><%= @stop.tagline %></h2>
                <p><%= @stop.description %></p>
              </div>
            </div>
            <% end %>
          </div>
        

          <div class="container"> <!-- comments -->
            <div class="commentsArea">
            <br>
              <% @comments.each do |this_comment| %>
                <div class="media">
                  <a class="media-left" href="/users/<%=this_comment.user.id%>">
                    <% if this_comment.user.images.length > 0 %>
                    <img class="media-object comment_pic" src="<%=this_comment.user.images.first.url%>" alt="Image"></a>
                    <% else %>
                    <img class="media-object comment_pic" src="/img/earth.png" alt="Image">
                    <% end %>
                  </a>
                    <div class="media-body blog whitediv">
                      <h4 class="media-heading">
                        <h4 class="media-heading">
                          <%= this_comment.user.first_name %> <%= this_comment.user.last_name %>
                        </h4>
<!--                         <h4><span><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</span>
                        </h4> -->
                        <p> <%= this_comment.comment %> </p>
                        <!-- <button class="btn btn-link" type="button">Reply</button> -->
                          <% if current_user.id == this_comment.user.id %>
                            <%= link_to 'Delete', "/stops/comments/#{this_comment.id}", method: :delete %>
                          <% end %>                            
                          <br>
                          <br>
                    </div> <!-- media-body blog -->
                    <br>
                </div> <!-- media blog entry -->
              <% end %>


                <div class="media">
                  <a class="media-left" href="/users/<%=current_user.id%>">
                    <% if current_user.images.length > 0 %>
                    <img class="media-object leave_comment_pic" src="<%=current_user.images.first.url%>" alt="Image">
                    <% else %>
                    <img class="media-object leave_comment_pic" src="/img/earth.png" alt="Image">
                    <% end %>
                  </a>
                  <% if current_user %>   
                    <h1>Leave a comment!</h1>
                    <div>
                      <%= form_tag "/stops/#{@stop.id}/comments", method: :post do %>
                        <div class="form-group comments">
                          <%= text_area_tag :comment, nil, placeholder: "Leave a comment!", class: "form-control" %>
                        </div>
                        <%= hidden_field_tag :user_id, current_user.id %>
                        <%= hidden_field_tag :commentable_type, "Stop" %>
                        <%= hidden_field_tag :commentable_id, @stop.id %>
                        <%= submit_tag  "Submit", class: "btn buttonTransparent editbutton" %> 
                      <% end %>
                    </div>          
                  <% end %>

                  <% if !current_user %>
                  <h3> Sign in to leave a comment! </h3>
                    <a target="_blank" href="/users/auth/facebook" class="FBLI">    Sign in with Facebook</a>
                  <%end%>
                </div> <!-- media -->
            </div> <!-- comments area -->
          </div> <!-- comments container -->
        </div> <!-- tab panel -->

        <div role="tabpanel" class="tab-pane" id="other-stops">
          <div class="row">
            <div class="col-sm-8 col-xs-12">
              <div class="commonInfo">
                <div class="container">
                  <div class="relatedProduct margin">
                    <% if @trip.stops.length > 1 %>
                      <% @trip.stops.each do |stop| %>
                        <% if stop != @stop %>
                          <div class="col-sm-4 col-xs-12">
                            <div class="relatedItem">
                              <% if stop.images.length > 0 %>
                                <%= image_tag stop.images.first.url %>
                              <% else %>
                                <img src="/img/earth.png">
                              <% end %>
                                <div class="maskingInfo">
                                  <h4><%=stop.name%></h4>
                                  <p><%=stop.tagline%></p>
                                  <a href="/stops/<%=stop.id%>" class="btn buttonTransparent">view more</a>
                                </div>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div> <!-- relatedproduct -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane showtab" id="edit-stop">
          <div class="row">
            <div class="col-sm-12 col-xs-12 showtab whitediv">
              <div class="commonInfo">
                <div class="bookingForm">
                <br>
                  <div class="form-group col-sm-12 col-xs-12">
                  <%= form_tag "/stops/#{@stop.id}", method: :patch do  %>
                  <!-- <form action="/stops" method="POST" role="form" class="form"> -->
                  <div class="row">
                    <div class="form-group col-sm-12 col-xs-12">
                      <%= label_tag :name %>
                      <%= text_field_tag :name, nil, class: "form-control", value: @stop.name %>
                      <div>
                        <%= label_tag :address %>
                        <%= text_field_tag :address, nil, class: "form-control", value: @stop.address  %>
                      </div>
                      <div>
                        <%= label_tag :description %>
                        <%= text_field_tag :description, nil, class: "form-control", value: @stop.description  %>
                      </div>
                      <div>
                        <%= label_tag :tagline %>
                        <%= text_field_tag :tagline, nil, class: "form-control", value: @stop.tagline  %>
                      </div>
                      <div>
                        <%= label_tag :order %>
                        <%= text_field_tag :order, nil, class: "form-control", value: @stop.order  %>
                      </div>
                      <%= label_tag "Start Date" %>
                      <div class="bookingDrop">
                        <%= date_select :start_date, :start_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}, value: @stop.start_date %>
                      </div>
                      <%= label_tag "End Date" %>
                      <div class="bookingDrop">
                        <%= date_select :end_date, :end_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}, value: @stop.end_date %>
                      </div>
                    </div> <!-- col -->
                  </div> <!-- row -->

                    <%= submit_tag "Submit", class: "btn buttonTransparent editbutton" %>
                    <br>
                    <br>
                </div><!--  form -->
                <% end %>
                </div>
              </div> <!-- common info -->
            </div><!--  col -->
          </div> <!-- row -->
        </div> <!-- edit trip panel -->


        <div role="tabpanel" class="tab-pane showtab" id="add-pic">
          <div class="row">
            <div class="col-sm-12 col-xs-12 showtab whitediv">
              <div class="commonInfo">
                <div class="bookingForm">
                <br>
                  <div class="form-group col-sm-12 col-xs-12">
                  <%= form_tag "/pictures/add", method: :post do  %>
                  <!-- <form action="/stops" method="POST" role="form" class="form"> -->
                  <div class="row">
                    <div class="form-group col-sm-12 col-xs-12">
                      <%= label_tag "add picture url" %>
                      <%= text_field_tag :url, nil, class: "form-control" %>
                      <%= label_tag "tagline" %>
                      <%= text_field_tag :tagline, nil, class: "form-control" %>
                      <%= hidden_field_tag "stop_id", @stop.id %>
                    </div> <!-- col -->
                  </div> <!-- row -->

                    <%= submit_tag "Submit", class: "btn buttonTransparent editbutton" %>
                    <br>
                    <br>
                </div><!--  form -->
                <% end %>
                </div>
              </div> <!-- common info -->
            </div><!--  col -->
          </div> <!-- row -->
        </div> <!-- edit trip panel -->

        <div role="tabpanel" class="tab-pane" id="journal">
          <div class="row">
            <div class="col-sm-8 col-xs-12">
              <div class="commonInfo">
                <div class="container">
                  <div class="commentsArea">                  
                  <% if @userstops.include?(current_user.id) %>
                  <h1>Make a journal entry!</h1>
                  <div>
                    <%= form_tag "/stops/#{@stop.id}/journal", method: :post do %>
                    <div class="form-group comments">
                      <%= text_area_tag :entry, nil, placeholder: "How's your trip going??", class: "form-control" %>
                    </div>
                    <%= hidden_field_tag :user_id, current_user.id %>
                    <%= hidden_field_tag :blogable_type, "Stop" %>
                    <%= hidden_field_tag :blogable_id, @stop.id %>
                    <%= submit_tag  "Submit", class: "btn buttonTransparent editbutton" %> 
                    <% end %>
                  </div>          
                  <br>
                  <br>
                  <% end %>
               
                  <%if @blogentries.length > 0 %>
                    <% @blogentries.each do |blog| %>
                    <%#if this_comment.commentable_type == "Trip" %>
                      <div class="media">
                        <a class="media-left" href="/users/<%=blog.user.id%>">
                          <% if blog.user.images.length > 0 %>
                          <img class="media-object comment_pic" src="<%=blog.user.images.first.url%>" alt="Image">
                          <% else %>
                          <img class="media-object comment_pic" src="/img/earth.png" alt="Image">
                          <% end %>
                          </a>
                          <div class="media-body blog whitediv">
                            <h4 class="media-heading">
                              <%= blog.user.first_name %> <%= blog.user.last_name %></h4>
<!--                               <h4><span><i class="fa fa-calendar" aria-hidden="true"></i></span></h4> -->
                              <p> <%= blog.entry %> </p>
                             <!--  <button class="btn btn-link" type="button">Reply</button> -->
                              <% if current_user.id == blog.user.id %>
                              <%= link_to 'Delete', "/journals/#{blog.id}", method: :get %>
                              <% end %>
                              <br>
                              <br>
                          </div> <!-- media-body blog -->
                            <br>
                      </div> <!-- media blog entry --> 
                    
                    <% end %> <!-- each loop -->
                    <% else %>
                    <h4> Sorry! No Journal entries have been made yet. </h4>
                  <% end %>
                  </div> <!-- comments area -->
                </div> <!-- container -->
              </div> <!-- common info -->
            </div> <!-- col -->
          </div> <!-- row -->
        </div> <!-- journal panel -->



        <div role="tabpanel" class="tab-pane" id="all-pictures">
          <!-- WHITE SECTION FILTER-->
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="filter-container isotopeFilters">
                  <ul class="list-inline filter">
                    <li class="active" style="display: none;"><a id="allpicbutton" href="#" data-filter="*">all pics</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div> <!-- container -->
          <div class="container">
            <div class="row isotopeContainer" id="container">
              <% @stop.images.each do |image| %>
              <div class="col-sm-3 isotopeSelector">
                <article class="">
                  <figure>
                    <img src="<%=image.url%>" alt="">
                    <h4><%=%></h4>
                    <div class="overlay-background">
                      <div class="inner"></div>
                    </div>
                    <div class="overlay">
                      <a class="fancybox-pop" rel="portfolio-1" href="<%=image.url%>">
                        <span class="overlayInfo overflow_hidden">
                          <p><span><%=image.description%></span></p>
                          <!-- <p><i class="fa fa-calendar" aria-hidden="true"></i></p> -->
                        </span>
                      </a>
                    </div>
                  </figure>
                </article>
              </div> <!-- isotope selector -->
              <%end%>   
            </div> <!-- isoptope container -->
          </div> <!-- container -->
        </div> <!-- tab panel -->
      </div> <!-- tab panels -->
      

      
    </div> <!-- container main -->
  </section> <!-- mainContentSection singlePackage -->
</div> <!-- main container -->
      
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= "#{ENV['MAPS_API']}" %>&callback=initMap">
  </script>

  <script type="text/javascript"> 
    function showPhotos() {
      console.log("clicked");
      setTimeout(
        function() 
        {
          $( "#allpicbutton" ).click()          
        }, 1);
    }
  </script>

  

  <script>
    function initMap() {
      var firstMarker = {lat: <%= @stop.latitude %>, lng: <%= @stop.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: firstMarker
      });
      var marker = new google.maps.Marker({
        position: firstMarker,
        map: map
      });
    }
  </script>

