
<div class="main-wrapper">


  <!-- PAGE TITLE -->
  <section class="pageTitle" style="background-image:url(/img/pages/page-title-bg3.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="titleTable">
            <div class="titleTableInner">
              <div class="pageTitleInfo">
                <h1><%= @stop.name %></h1>
                <div class="under-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PAGE CONTENT -->
  <section class="mainContentSection singlePackage">
    <div class="container">
      <div class="row countryTitle">
        <% if @stop.images.length > 0 %>
        <div class="row galleryCarousel">
          <div class="col-xs-12">
            <div id="package-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

              <div class="carousel-inner max-carousel">

                <div class="item active max-carousel">
                  <img alt="slide" class="max-carousel carousel_width" src="<%=@stop.images.first.url%>">
                </div>
                <% counter = 0 %>
                <% @stop.images.each do |image| %>
                <% if counter != 0 %>
                <div class="item max-carousel">
                  <img alt="Slide" src="<%=image.url%>" class="max-carousel">
                </div>
                <% end %>
                <% counter = counter + 1 %>
                <% end %>

              </div>
              <a class="left carousel-control" href="/#package-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
              <a class="right carousel-control" href="/#package-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
          </div>
        </div>

        <% end %>



        <div class="col-sm-4 col-xs-12">
          <aside>
            <div class="weatherInfo">
              <img src="/img/cities/weather-bg.png" alt="image">
              <div class="cityWeather">
                <div class="cityTable">
                  <div class="cityTableInner">
                    <div class="cityWeatherInfo">
                      <img src="/img/icons/cloud.png">
                      <h2>28<sup>0</sup></h2>
                      <p>France, Paris</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dayTime">
                <span class="pull-left">April 20, 2016</span>
                <span class="pull-right">Monday</span>
              </div>
              <div class="daysWeather">
                <ul class="list-inline">
                  <li>Tue <span><img src="/img/icons/cloud-rain.png" alt="image"></span>18<sup>0</sup></li>
                  <li>Wed <span><img src="/img/icons/sun.png" alt="image"></span>25<sup>0</sup></li>
                  <li>Thu <span><img src="/img/icons/cloud-sm.png" alt="image"></span>22<sup>0</sup></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div role="tabpanel" class="countryTabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#over-view" aria-controls="over-view" role="tab" data-toggle="tab">Description</a>
              </li>
              <li role="presentation">
                <a href="#tour-guide" aria-controls="tour-guide" role="tab" data-toggle="tab">Journal</a>
              </li>
              <li role="presentation">
                <a href="#location-map" aria-controls="location-map" role="tab" data-toggle="tab" onclick="showPhotos()">all pictures</a>
              </li>
              <li>
                <a href="/trips/<%=@trip.id%>">Back to Trip</a>
              </li>
              <li class="pull-right">

              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="over-view">
                <div class="row">
                  <div class="col-sm-8 col-xs-12">
                    <div class="commonInfo">
                      <h2><%= @stop.tagline %></h2>
                      <p><%= @stop.description %></p>

                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="tour-guide">
                <div class="row">
                  <div class="col-sm-8 col-xs-12">
                    <div class="commonInfo">
                      <h2>some title should be here</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                      <ul class="list-inline">
                        <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                        <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                        <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                        <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                        <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                        <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                        <li><i class="fa fa-square" aria-hidden="true"></i> Some point should be here</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="location-map">

                <!-- WHITE SECTION FILTER-->
                <section class="mainContentSection">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="filter-container isotopeFilters">
                          <ul class="list-inline filter">
                            <li class="active" style="display: none;"><a id="allpicbutton" href="#" data-filter="*">all pics</a></li>
                          </div>
                        </div>
                      </div>
                      <div class="row isotopeContainer" id="container">
                        <% @stop.images.each do |image| %>
                        <div class="col-sm-3 isotopeSelector">
                          <article class="">
                            <figure>
                              <img src="<%=image.url%>" alt="">
                              <h4><%=%></h4>
                              <div class="overlay-background">
                                <div class="inner"></div>
                              </div>
                              <div class="overlay">
                                <a class="fancybox-pop" rel="portfolio-1" href="<%=image.url%>">
                                  <span class="overlayInfo overflow_hidden">
                                    <p><%=image.description%><p>
                                      <p><i class="fa fa-calendar" aria-hidden="true"></i>27 jan, 2016</p>
                                    </span>
                                  </a>
                                </div>
                              </figure>
                            </article>
                          </div>
                          <%end%>
                        </div>
                      </div>
                    </section>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <% if @trip.stops.length > 1 %>
      <div class="row">
        <div class="col-xs-12">
          <div class="relatedProduct margin">
            <h2>Other Stops on this Trip:</h2>
            <div class="row">

              <% @trip.stops.each do |stop| %>
              <% if stop != @stop %>
              <div class="col-sm-4 col-xs-12">
                <div class="relatedItem">
                 <% if stop.images.length > 0 %>
                 <%= image_tag stop.images.first.url %>
                 <% else %>
                 <img src="/img/earth.png">
                 <% end %>
                 <div class="maskingInfo">
                  <h4><%=stop.name%></h4>
                  <p><%=stop.tagline%></p>
                  <a href="/stops/<%=stop.id%>" class="btn buttonTransparent">view more</a>
                  <% end %>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<h3>My Google Maps Demo</h3>
<div id="map"></div>
<script>
  function initMap() {
    var firstMarker = {lat: <%= @stop.latitude %>, lng: <%= @stop.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: firstMarker
    });
    var marker = new google.maps.Marker({
      position: firstMarker,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= "#{ENV['MAPS_API']}" %>&callback=initMap">
</script>


<div class="container">
  <div class="commentsArea">
    <br>
    <br>
    <br>
    <br>
    <br>

    <% @comments.each do |this_comment| %>
    <%#if this_comment.commentable_type == "Trip" %>
    <div class="media">
      <a class="media-left" href="#">
        <img class="media-object comment_pic" src="/img/earth.png" alt="Image">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= this_comment.user.first_name %> <%= this_comment.user.last_name %></h4>
          <h4><span><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</span></h4>
          <p> <%= this_comment.comment %> </p>

          <button class="btn btn-link" type="button">Reply</button>
          <% if current_user.id == this_comment.user.id %>
          <%= link_to 'Delete', "/stops/comments/#{this_comment.id}", method: :delete %>
          <% end %>
          <br>
          <br>
        </div>
        <%# end %>
        <% end %>

        <div class="media">
          <a class="media-left" href="#">
            <img class="media-object leave_comment_pic" src="/img/earth.png" alt="Image">
          </a>

          <% if current_user %>   
          <h1>Leave a comment!</h1>
          <div>
            <%= form_tag "/stops/#{@stop.id}/comments", method: :post do %>
            <div class="form-group comments">
              <%= text_area_tag :comment, nil, placeholder: "Leave a comment!", class: "form-control" %>
            </div>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= hidden_field_tag :commentable_type, "Stop" %>
            <%= hidden_field_tag :commentable_id, @stop.id %>
            <%= submit_tag  "Submit", class: "btn buttonCustomPrimary" %> 
            <% end %>
          </div>          

          <% end %>
          <% if !current_user %>
          <h3> Sign in to leave a comment! <h3>
            <a target="_blank" href="/users/auth/facebook" class="FBLI">    Sign in with Facebook</a>
            <%end%>

          </div>
        </div>

        <script type="text/javascript"> 
          function showPhotos() {
            console.log("clicked");
            setTimeout(
              function() 
              {
                $( "#allpicbutton" ).click()          
              }, 1);
          }
        </script>

