

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>
  <div class="main-wrapper">


    <!-- PAGE TITLE -->
    <section class="pageTitle" style="background-image:url(img/pages/page-title-bg4.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1> Welcome back <%= current_user.first_name %>! </h1>
                  <div class="under-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection blogSidebar">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <aside>
              <div class="panel panel-default home_panel">
               <!--  <div class="panel-heading">Search</div> -->
                <div class="panel-body">
                  <!-- <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                  </div> -->
                <!-- </div> -->
                  <div class="center">
                    <a href="/trips/new"> <img id="earth" src="/img/earth.png">
                     </a>
                     <br>

                     <a class="btn buttonTransparent" href="/trips/new"> Add a Trip! </a>

                    <form action="/users/traveling" method="post">
                        <button name="traveling_button" >
                        <% if current_user.traveling == true %>
                        I'm done traveling!
                        <% elsif current_user.traveling == false %>
                        I'm traveling now!
                        <% end %>
                          
                        </button>
                        
                    </form>

                    
                     <a class="btn buttonTransparent" value="traveling"  href="/users/traveling"> I'm Tr@\/e|ing now! </a>



                  </div>
                </div>
              <div role="tabpanel" class="tabArea">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Trips</a>
                  </li>
                  <li role="presentation">
                    <a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Friends</a>
                  </li>
                
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="recent">
              <!-- <div class="media">
                      <a class="media-left" href="#">
                        <img class="media-object" src="img/blog/tab-01.png" alt="Image">
                      </a>
                      <div class="media-body">
                        <h4><a href="#" class="media-heading">Totam Rem Aperiam Eaque.</a></h4>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
                      </div>
                    </div> -->
                    <% @trips.each do |trip| %>
                    <% if trip.archived == nil || trip.archived == false %>
                      <div class="media">
                        <a class="media-left" href="/trips/<%=trip.id%>">
                          <img class="media-object" src="/img/earth.png" alt="Image">
                        </a>
                        <div class="media-body">
                          <h4><a href= <%= "/trips/#{trip.id}" %> class="media-heading">
                          <%=  "#{trip.name}" %></a></h4>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016 - <br> 7 June 2016</p>
                        </div>
                        <%= link_to 'Archive', "/trips/#{trip.id}", method: :patch %>
                        <br>
                        <% if trip.users.length > 1 %>
                          Tr@\/e|ers:
                              <div class="panel-body">
                                <% trip.users.each do |user|%>
                                  <ul class="list-inline ">
                                    <% if (user.id != current_user.id) && (user.images.length > 0) %>
                                          <li><a href="/users/<%=user.id%>">
                                          <img src="<%=user.images.first.url%>" alt="Instagram-image"></a></li>
                                    <% elsif user.id != current_user.id %>
                                          <li><a href="/users/<%=user.id%>">
                                          <%= user.first_name %> <br> <%= user.last_name%>
                                          </a></li>
                                    <% end %>
                                  </ul>
                                <% end %>
                              </div>    
                        <% end %>

                        <% stop_images = [] %>
                        <% trip.stops.each do |stop| %>
                          <% stop.images.each do |image|%>
                            <% stop_images << image %>
                          <% end %>
                        <% end %>

                      <% if stop_images.length > 0 %>
                        Stops:
                        <div class="panel-body">
                            <ul class="list-inline">
                              <% trip.stops.each do |stop| %>
                                <% if stop.images.first %>
                                  <li><a href="/stops/<%=stop.id%>"><img src="<%=stop.images.first.url%>" alt="Instagram-image"></a></li>
                                <% end %>
                              <% end %>
                            </ul>
                        </div>
                      <% end %>
                        </div>
                    <% end %>    
                    <%end%>



                  </div>
                  <div role="tabpanel" class="tab-pane" id="popular">
                    <% current_user.following.each do |follower|%>
                    <%= link_to "#{follower.first_name}", "users/#{follower.id}" %> 
                    <br>
                    <% end %>
                  <br>
                  <br>

                   <span class="input-group">
                      <input type="text" class="form-control" placeholder="Find people..." aria-describedby="basic-addon2">
                      <span class="input-group-addon" id="basic-addon2"> Search
                   </span>



                 
                  </div>
                  <div role="tabpanel" class="tab-pane" id="new">New</div>
                </div>
              </div>
              <%= form_tag "/searchpeople", method: :post do %>
                       <input type="text" name="search" class="form-control" aria-describedby="basic-addon2">
                      
                      <!-- <input type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2"> -->
                      <button type="submit"><span class="input-group-addon" id="basic-addon2">Search</span></button>
                      <% end %>
                
              </div>
            </aside>
          </div>

          <% if current_user.traveling %>
            <h2> How's your trip going?? </h2>
            <br>

          <% end %> 

          <div class="col-sm-9 col-xs-12">
            <div class="row">    

               <% current_user.following.each do |follower| %>
                <% follower.trips.each do |trip| %>
                       
              <!-- FEED ITEM -->
              <div class="col-xs-12">
                <div class="media blogPostListItem">
                  <a class="media-left" href="/trips/<%= trip.id%>">
                    <img class="media-object" src="img/blog/blog-02.png" alt="blog-image">
                  </a>
                  <div class="media-body">
                    <h4><a  href="/trips/<%= trip.id%>" class="blogTitle"><%= trip.name %>
                      </a></h4>
                    <ul class="list-inline blogInfo">
                      <li><i class="fa fa-user" aria-hidden="true"></i><a href="#">
                        <% trip.users.each do |user| %>
                        <%= user.first_name + " " + user.last_name%>
                        <br>
                        <%end%> 
                      </a></li>
                      <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
                      <li><i class="fa fa-tags" aria-hidden="true"></i>Travel</li>
                      <li><i class="fa fa-envelope" aria-hidden="true"></i>8 com</li>
                    </ul>
                    <p>
                    <div ng-app="app">
                      {{ 1 + 1 }}
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                    
                  </div>
                </div>
              </div>
              <!-- FEED ITEM  -->

                <% trip.stops.each do |stop| %> 

                 
                <div class="col-xs-12">
                  <div class="media blogPostListItem">
                    <a class="media-left" href="/stops/<%="#{stop.id}"%>">
                      <img class="media-object" src="img/blog/blog-02.png" alt="blog-image">
                    </a>
                    <div class="media-body">
                      <h4><a  href="/stops/<%="#{stop.id}"%>" class="blogTitle"><%= stop.name %></a></h4>
                      <ul class="list-inline blogInfo">
                        <li><i class="fa fa-user" aria-hidden="true"></i><a href="#"> 
                        <% trip.users.each do |user| %>
                        <%= user.first_name + " " + user.last_name%>
                        <%end%>
                        <br>
                        </a></li>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 20, 2016</li>
                        <li><i class="fa fa-tags" aria-hidden="true"></i>Travel</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>8 com</li>
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                      
                    </div>
                  </div>
                </div>


                <% end %>
                <% end %>
                <% end %>

            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-xs-12">
            <div class="paginationCenter paginationTransparent">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">9</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>

  <h2> <%= link_to "All Users", '/users/index' %> </h2>

</body>

</html>