

<h1> Welcome back <%= current_user.first_name %>! </h1>

 	<br>
 	<br>
 	<br>
 	<h3> <h3> <%= link_to "Add a Trip!", "/trips/new" %> </h3>
 	<h3> Your trips: </h3>
  <% @trips.each do |trip| %>
  <h3> 
  <%= link_to "#{trip.name}", "/trips/#{trip.id}" %>
  <br>
  </h3>
  <% end %>
  <br>

  <h2> You are following: </h2>
  <% current_user.following.each do |follower|%>
  <%= link_to "#{follower.first_name}", "users/#{follower.id}" %>
  <br>
  <% end %>

  <h2> You are followed by: </h2>
  <% current_user.followers.each do |follower|%>
  <%= link_to "#{follower.first_name}", "users/#{follower.id}" %>
  <% end %>

  <br>
  ---------------
  <br>
 	<%= link_to "All Users", '/users/index' %>
