<div ng-app="app">
  <!-- PAGE TITLE -->
<section class="pageTitle" style="background-image:url(img/scenery/bryceheader.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titleTable">
          <div class="titleTableInner">
            <div class="pageTitleInfo">
              <h1> Welcome back <%= current_user.first_name %>! </h1>
              <div class="under-border"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- PAGE CONTENT -->
<section class="mainContentSection blogSidebar">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12"> <!-- panel -->
        <aside>
        <div class="panel panel-default home_panel">
          <div class="panel-body">
            <div class="center">
              <% if current_user.images.length > 0 %>
              <a href="/users/<%=current_user.id%>"> <img class="paneluserpic" src="<%=current_user.images.first.url%>">
              </a>
              <% else %>
              <a href="/users/<%=current_user.id%>"> <img id="earth" src="/img/earth.png">
              </a>
              <% end %>
              <br>
            </div> <!-- center -->
              <!-- I'm Tr@\/e|ing now! Button -->
                <!--     <form action="/users/traveling" method="post">
                    <button name="traveling_button" >
                    <#% if current_user.traveling == true %>
                    I'm done traveling!
                    <#% elsif current_user.traveling == false %>
                    I'm traveling now!
                    <#% end %>
                    </button>                      
                </form>          
                 <a class="btn buttonTransparent" value="traveling"  href="/users/traveling"> I'm Tr@\/e|ing now! </a>
               -->  
          </div> <!-- panel body -->
          <div role="tabpanel" class="tabArea">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active">
                <a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Trips</a>
              </li>
              <li role="presentation">
                <a href="#popular" aria-controls="popular" role="tab" data-toggle="tab" class="centered">Friends</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div id="friendsidebar" class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="recent">
                <div class="centered">
                  <a class="btn buttonTransparent " href="/trips/new"> Add a Trip! </a>
                </div>
                <% @trips.each do |trip| %>
                <% if trip.archived == nil || trip.archived == false %>
                <div class="media">
                  <% if trip.images.length > 0 %> 
                    
                   <a class="" href="/trips/<%=trip.id%>">
                    <img class="smalltrippic borderradius15" src="<%=trip.images.first.url%>" alt="Image">
                   </a>
                   
                  <% else %>
                   <a class="media-left" href="/trips/<%=trip.id%>">
                    <img class="media-object" src="/img/earth.png" alt="Image">
                   </a>
                  <% end %>
                  <div class="media-body">
                    <h4><a href= <%= "/trips/#{trip.id}" %> class="media-heading">
                      <%=  "#{trip.name}" %></a></h4>
                      <p class="sidebardates">
                        <% if trip.start_date || trip.end_date %>
                          <ul class="list-inline">
                            <li><i class="fa fa-calendar" aria-hidden="true"></i> <% if trip.start_date%> <%=trip.start_date%> <% else %> ? <% end %> - <% if trip.end_date%><%=trip.end_date%> <% else %> ? <% end %> </li>
                          </ul>
                        <% end %>
                      </p>
                  </div> <!-- media-body (dates)-->
                  <%= link_to 'Archive', "/trips/#{trip.id}", method: :patch %>
                  <br>


                  <% if trip.users.length > 1 %>
                  Other Tr@\/e|ers:
                  <div class="panel-body">
                    <ul class="list-inline ">
                      <% trip.users.each do |user|%>
                      <% if (user.id != current_user.id) && (user.images.length > 0) %>
                        <li class="userpic"><a href="/users/<%=user.id%>" class="sidebar-link">
                          <img src="<%=user.images.first.url%>" alt="Instagram-image"></a></li>
                      <% elsif user.id != current_user.id %>
                        <li class="userpic"><a class="btn buttonTransparent smalltext sidebar-link" href="/users/<%=user.id%>">
                          <%= user.first_name %> <br/> 
                          <div class="centered"> 
                            <%= user.last_name%>
                          </div>
                        </a></li>
                      <% end %>
                      <% end %>
                    </ul>
                  </div> <!--  panel-body -->
                  <% end %>


                  <% stop_images = [] %>
                  <% trip.stops.each do |stop| %>
                  <% stop.images.each do |image|%>
                  <% stop_images << image %>
                  <% end %>
                  <% end %>

                  <% if stop_images.length > 0 %>
                    Stops:
                    <div class="panel-body">
                      <ul class="list-inline">
                        <% trip.stops.each do |stop| %>
                          <% if stop.images.first %>
                          <li><a href="/stops/<%=stop.id%>"><img src="<%=stop.images.first.url%>" alt="Instagram-image"></a></li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div> <!-- media (each trip)-->
                <% end %>    <!-- if not archived -->
                <%end%> <!-- each trip -->

                <div class="centered">
                  <a href="/users/archive" class="btn buttonTransparent"> Archive </a>
                </div>
              </div> <!-- tab-pane active -->

              <div role="tabpanel" class="tab-pane" id="popular">
                <% current_user.following.each do |follower|%>
                  <% if follower.images.length > 0 %>
                    <a href="/users/<%=follower.id%>">
                    <img class="friendpic" src="<%=follower.images.first.url%>" alt="Instagram-image"> 
                    <%=follower.first_name%> <%=follower.last_name%></a>
                  <% else %>
                    <img class="friendpicearth" src="/img/earth.png" alt="Instagram-image"> 
                    <%= link_to "#{follower.first_name} #{follower.last_name}", "users/#{follower.id}" %> 
                    <br>
                  <% end %>
                <br>
                <br>
                <% end %>

                <div ng-controller= "searchCtrl">
                  <span class="input-group">
                    <input ng-model="searchterm" type="text" class="form-control" placeholder="Find people..." aria-describedby="basic-addon2">
                      <span ng-click="searchusers(searchterm)" class="input-group-addon" id="basic-addon2" style="cursor: hand; cursor: pointer;"> <i class="fa fa-search" aria-hidden="true"></i>
                      </span>
                  </span>
                <br/>
                  <div ng-repeat="user in users">
                    <a href="/users/{{ user.id}}"> {{ user.first_name }} {{ user.last_name }} </a>
                  </div>
                </div> <!-- ng-controllers -->
              </div> <!-- tab-pane -->   
            </div> <!-- friends tab  -->
          </div> <!-- tabArea -->
        </div> <!-- panel panel-default home_panel -->
        </aside> <!-- sidepanel -->
      </div> <!-- panel column-->

            <!--<%# if current_user.traveling %>
            <h2> How's your trip going?? </h2>
            <br>

            <%# end %>  -->



<!-- Indented for ease, not accurate -->
<div class="col-sm-9 col-xs-12">
  <div class="feedpadding">  
    <% @activities.each do |activity| %>
      <% id = activity.trackable_id %>
      <% type = activity.trackable_type %>
      <% trip = Trip.find_by(id: id) %>
      <% stop = Stop.find_by(id: id) %>
        
        <!-- If trip has been updated atleast 1 hour after last update/creation -->
        <!-- If matching create doesn't exist, show news feed item -->
        <!-- If an activity is an update and that update is not within an hour of the creation or any previous update of that same thing, show it -->


      <% event_match = (PublicActivity::Activity.where("id < (?) AND trackable_id = (?)", activity.id, activity.trackable_id)).order(created_at: :desc).first %>

      <% if (activity.key == "trip.update") && (trip) %>
        <% if (activity.created_at - event_match.created_at > 1.hour)  %>
          <%= render partial: 'newsfeed_trip', locals: { trip: trip, activity: activity } %>
        <% end %>

      <% elsif (activity.key == "trip.create") && (trip) %>
         <%= render partial: 'newsfeed_trip', locals: { trip: trip, activity: activity } %>

      <% elsif (activity.key == "stop.update") && (stop) %>
        <% if (activity.created_at - event_match.created_at > 1.hour)  %>
        <%= render partial: 'newsfeed_stop', locals: { stop: stop, activity: activity } %>
        <% end %>

      <% elsif (activity.key == "stop.create") && (stop) %>    
        <%= render partial: 'newsfeed_stop', locals: { stop: stop, activity: activity } %>

      <% end %> <!-- 4 types of activities -->

    <% end %> <!-- each activity -->

    <div class="row">
      <div class="col-xs-12">
        <div class="paginationCenter paginationTransparent">
          <ul class="pagination">
            <% if params[:page] && params[:page].to_i > 1 %>
            <li>
              <a href="/?page=<%= params[:page].to_i - 1 %>" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous</span>
              </a>
            </li>
            <% end %>
            <% @pages.times do |page| %>
            <% if page >= params[:page].to_i - 3 && page < params[:page].to_i + 2 %>
            <li class="<%= "active" if page + 1 == params[:page].to_i %>"><a href="/?page=<%= page + 1 %>"><%= page + 1 %></a></li>
            <% end %>
            <% end %>
            <% if !params[:page] || params[:page].to_i < @pages %>
            <li>
              <a href="/?page=<%= params[:page].to_i + 1 %>" aria-label="Next">
                <span aria-hidden="true">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
              </a>
            </li>
            <% end %>
          </ul>
        </div> <!-- ginationCenter paginationTransparent -->
      </div> <!-- col -->
    </div> <!-- row feed # buttons -->
  </div> <!-- feedpadding -->            
</div> <!-- column whitediv  -->








      </div> <!-- column  ( feed )-->
    </div> <!-- row -->
  </div> <!-- container -->
</section>


</div> <!-- angular -->


