
<div ng-app="app">
    <!-- PAGE TITLE -->
    <section class="pageTitle" style="background-image:url(img/pages/page-title-bg4.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="titleTable">
              <div class="titleTableInner">
                <div class="pageTitleInfo">
                  <h1> Search results for: <%=@search_term%> </h1>
                  <div class="under-border"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection blogSidebar">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-12"> <!-- panel -->
        <aside>
        <div class="panel panel-default home_panel">
          <div class="panel-body">
            <div class="center">
              <% if current_user.images.length > 0 %>
              <a href="/users/<%=current_user.id%>"> <img class="paneluserpic" src="<%=current_user.images.first.url%>">
              </a>
              <% else %>
              <a href="/users/<%=current_user.id%>"> <img id="earth" src="/img/earth.png">
              </a>
              <% end %>
              <br>
            </div> <!-- center -->
              <!-- I'm Tr@\/e|ing now! Button -->
                <!--     <form action="/users/traveling" method="post">
                    <button name="traveling_button" >
                    <#% if current_user.traveling == true %>
                    I'm done traveling!
                    <#% elsif current_user.traveling == false %>
                    I'm traveling now!
                    <#% end %>
                    </button>                      
                </form>          
                 <a class="btn buttonTransparent" value="traveling"  href="/users/traveling"> I'm Tr@\/e|ing now! </a>
               -->  
          </div> <!-- panel body -->
          <div role="tabpanel" class="tabArea">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active">
                <a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Trips</a>
              </li>
              <li role="presentation">
                <a href="#popular" aria-controls="popular" role="tab" data-toggle="tab" class="centered">Friends</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div id="friendsidebar" class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="recent">
                <div class="centered">
                  <a class="btn buttonTransparent " href="/trips/new"> Add a Trip! </a>
                </div>
                <% @current_user_trips.each do |trip| %>
                <% if trip.archived == nil || trip.archived == false %>
                <div class="media">
                  <% if trip.images.length > 0 %> 
                    
                   <a class="" href="/trips/<%=trip.id%>">
                    <img class="smalltrippic borderradius15" src="<%=trip.images.first.url%>" alt="Image">
                   </a>
                   
                  <% else %>
                   <a class="media-left" href="/trips/<%=trip.id%>">
                    <img class="media-object" src="/img/earth.png" alt="Image">
                   </a>
                  <% end %>
                  <div class="media-body">
                    <h4><a href= <%= "/trips/#{trip.id}" %> class="media-heading">
                      <%=  "#{trip.name}" %></a></h4>
                      <p class="sidebardates">
                        <% if trip.start_date || trip.end_date %>
                          <ul class="list-inline">
                            <li><i class="fa fa-calendar" aria-hidden="true"></i> <% if trip.start_date%> <%=trip.start_date%> <% else %> ? <% end %> - <% if trip.end_date%><%=trip.end_date%> <% else %> ? <% end %> </li>
                          </ul>
                        <% end %>
                      </p>
                  </div> <!-- media-body (dates)-->
                  <%= link_to 'Archive', "/trips/#{trip.id}", method: :patch %>
                  <br>


                  <% if trip.users.length > 1 %>
                  Other Tr@\/e|ers:
                  <div class="panel-body">
                    <ul class="list-inline ">
                      <% trip.users.each do |user|%>
                      <% if (user.id != current_user.id) && (user.images.length > 0) %>
                        <li class="userpic"><a href="/users/<%=user.id%>" class="sidebar-link">
                          <img src="<%=user.images.first.url%>" alt="Instagram-image"></a></li>
                      <% elsif user.id != current_user.id %>
                        <li class="userpic"><a class="btn buttonTransparent smalltext sidebar-link" href="/users/<%=user.id%>">
                          <%= user.first_name %> <br/> 
                          <div class="centered"> 
                            <%= user.last_name%>
                          </div>
                        </a></li>
                      <% end %>
                      <% end %>
                    </ul>
                  </div> <!--  panel-body -->
                  <% end %>


                  <% stop_images = [] %>
                  <% trip.stops.each do |stop| %>
                  <% stop.images.each do |image|%>
                  <% stop_images << image %>
                  <% end %>
                  <% end %>

                  <% if stop_images.length > 0 %>
                    Stops:
                    <div class="panel-body">
                      <ul class="list-inline">
                        <% trip.stops.each do |stop| %>
                          <% if stop.images.first %>
                          <li><a href="/stops/<%=stop.id%>"><img src="<%=stop.images.first.url%>" alt="Instagram-image"></a></li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                </div> <!-- media (each trip)-->
                <% end %>    <!-- if not archived -->
                <%end%> <!-- each trip -->

<!--                 <div class="centered">
                  <a href="/users/archive" class="btn buttonTransparent"> Archive </a>
                </div> -->
              </div> <!-- tab-pane active -->

              <div role="tabpanel" class="tab-pane" id="popular">
                <% current_user.following.each do |follower|%>
                  <% if follower.images.length > 0 %>
                    <a href="/users/<%=follower.id%>">
                    <img class="friendpic" src="<%=follower.images.first.url%>" alt="Instagram-image"> 
                    <%=follower.first_name%> <%=follower.last_name%></a>
                  <% else %>
                    <img class="friendpicearth" src="/img/earth.png" alt="Instagram-image"> 
                    <%= link_to "#{follower.first_name} #{follower.last_name}", "users/#{follower.id}" %> 
                    <br>
                  <% end %>
                <br>
                <br>
                <% end %>

                <div ng-controller= "searchCtrl">
                  <span class="input-group">
                    <input ng-model="searchterm" type="text" class="form-control" placeholder="Find people..." aria-describedby="basic-addon2">
                      <span ng-click="searchusers(searchterm)" class="input-group-addon" id="basic-addon2" style="cursor: hand; cursor: pointer;"> <i class="fa fa-search" aria-hidden="true"></i>
                      </span>
                  </span>
                <br/>
                  <div ng-repeat="user in users">
                    <a href="/users/{{ user.id}}"> {{ user.first_name }} {{ user.last_name }} </a>
                  </div>
                  <div ng-repeat="users_last in users_lasts">
                    <a href="/users/{{ user_last.id}}"> {{ user_last.first_name }} {{ user_last.last_name }} </a>
                  </div>
                </div> <!-- ng-controllers -->
              </div> <!-- tab-pane -->   
            </div> <!-- friends tab  -->
          </div> <!-- tabArea -->
        </div> <!-- panel panel-default home_panel -->
        </aside> <!-- sidepanel -->
      </div> <!-- panel column-->

          <div class="col-sm-9 col-xs-12">
          	<% @users.each do |user| %>

            <div class="media packagesList borderradius30">
                <a class="media-left feedpic" href="/users/<%=user.id%>">

                <% if user.images.length > 0 %>
                  <img class="media-object borderradius30" src="<%=user.images.first.url%>" alt="Image">
                <% else %>
                  <img class="earth feedpicearth media-object" src="/img/earth.png" alt="blog-image">
                <% end %>
                </a>

                <div class="media-body">
                  <div class="">
                    <h4 class="media-heading feedhead"><a href="/users/<%=user.id%>"> <%=user.first_name%> <%=user.last_name%>
                    <div class="countryRating">   
                      <br>
                    </div> <!-- country rating -->
                    <% if user.bio %>
                    <p><%= user.bio.first(275) %></p>
                    <% end %>
                    <p class="black"> Trips <%= user.first_name %> has been on:</p>
                    <% if user.trips.length > 0 %>
                    <p class="black">
                     <% user.trips.each_with_index do |trip, index| %>
                      <a href="/trips/<%=trip.id%>"> <%= trip.name %> </a> 
                      <%= "," unless index == user.trips.length - 1 %>  
                    <% end %> </p>
                    <% end %>
                  </div> <!-- bodyleft -->
                </div> <!-- media-body-->
              </div> <!-- media packagesList -->

	            
            <% end %>

            <% @users_last.each do |user| %>

            <div class="media packagesList borderradius30">
                <a class="media-left feedpic" href="/users/<%=user.id%>">

                <% if user.images.length > 0 %>
                  <img class="media-object borderradius30" src="<%=user.images.first.url%>" alt="Image">
                <% else %>
                  <img class="earth feedpicearth media-object" src="/img/earth.png" alt="blog-image">
                <% end %>
                </a>

                <div class="media-body">
                  <div class="">
                    <h4 class="media-heading feedhead"><a href="/users/<%=user.id%>"> <%=user.first_name%> <%=user.last_name%>
                    <div class="countryRating">   
                      <br>
                    </div> <!-- country rating -->
                    <% if user.bio %>
                    <p><%= user.bio.first(275) %></p>
                    <% end %>
                    <p class="black"> Trips <%= user.first_name %> has been on:</p>
                    <% if user.trips.length > 0 %>
                    <p class="black">
                     <% user.trips.each_with_index do |trip, index| %>
                      <a href="/trips/<%=trip.id%>"> <%= trip.name %> </a> 
                      <%= "," unless index == user.trips.length - 1 %>  
                    <% end %> </p>
                    <% end %>
                  </div> <!-- bodyleft -->
                </div> <!-- media-body-->
              </div> <!-- media packagesList -->

              
            <% end %>

            <% @trips.each do |trip| %>      
              <% if trip.archived != true %>

              <div class="media packagesList borderradius30">
                <a class="media-left feedpic" href="/trips/<%=trip.id%>">

                <% if trip.images.length > 0 %>
                  <img class="media-object borderradius30 feedimgpad" src="<%=trip.images.first.url%>" alt="Image">
                <% else %>
                  <img class="earth feedpicearth media-object feedimgpad" src="/img/earth.png" alt="blog-image">
                <% end %>

                <% if trip.start_date || trip.end_date %>
                  <ul class="list-inline centeredd feed-detail-buttons-padding">
                    <li>
                      <span class="textInfo backgroundorange">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <% if trip.start_date%> 
                          <%=trip.start_date%> 
                        <% else %> 
                          ? 
                        <% end %> 
                          - 
                        <% if trip.end_date%>
                          <%=trip.end_date%> 
                        <% else %>
                          ? 
                        <% end %> 
                      </span>
                    </li>
                    <li><span class="textInfo backgroundorange"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                  </ul>
                <% end %>
                </a>

                <div class="media-body">
                  <div class="">
                    <h4 class="media-heading feedhead"><a href="/trips/<%=trip.id%>"><%=trip.name%>
                    <div class="countryRating">   
                      <p> Tr@\/e|ers on this trip: <br>
                        <% trip.users.each_with_index do |user, index|%>
                        <%= link_to "#{user.first_name} #{user.last_name}", "/users/#{user.id}" %><%= "," unless index == trip.users.length - 1 %>  
                        <% end %>
                      </p>
                      <% if trip.tagline %> <span>"<%= trip.tagline %>"</span> <br> <% end %>
                      <br>
                    </div> <!-- country rating -->
                    <% if trip.description %>
                    <p><%= trip.description.first(275) %></p>
                    <% end %>
                  </div> <!-- bodyleft -->
                </div> <!-- media-body-->
              </div> <!-- media packagesList -->

              <% end %>
            <% end %>

            <% @stops.each do |stop| %>      
              <% if stop.archived != true%>

              <div class="media packagesList borderradius30">
                <a class="media-left feedpic" href="/stops/<%=stop.id%>">

                <% if stop.images.length > 0 %>
                  <img class="media-object borderradius30" src="<%=stop.images.first.url%>" alt="Image">
                <% else %>
                  <img class="earth feedpicearth media-object" src="/img/earth.png" alt="blog-image">
                <% end %>

                <% if stop.start_date || stop.end_date %>
                  <ul class="list-inline centeredd feed-detail-buttons-padding">
                    <li>
                      <span class="textInfo backgroundorange">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <% if stop.start_date%> 
                          <%=stop.start_date%> 
                        <% else %> 
                          ? 
                        <% end %> 
                          - 
                        <% if stop.end_date%>
                          <%=stop.end_date%> 
                        <% else %>
                          ? 
                        <% end %> 
                      </span>
                    </li>
                    <li><span class="textInfo backgroundorange"><i class="fa fa-clock-o" aria-hidden="true"></i> 5 days</span></li>
                  </ul>
                <% end %>
                </a>

                <div class="media-body">
                  <div class="">
                    <h4 class="media-heading feedhead"><a href="/stops/<%=stop.id%>"> The Stop: "<%=stop.name%>" 
                    <div class="countryRating">   
                      <% if stop.tagline %> <span>"<%= stop.tagline %>"</span><br> <% end %>
                      <br>
                    </div> <!-- country rating -->
                    <% if stop.description %>
                    <p><%= stop.description.first(275) %></p>
                    <% end %>
                  </div> <!-- bodyleft -->
                </div> <!-- media-body-->
              </div> <!-- media packagesList -->

              <% end %>
            <% end %>


        <div class="row">
          <div class="col-xs-12">
            <div class="paginationCenter paginationTransparent">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Previous</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">9</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Next<i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

